<!DOCTYPE html>
<html xmlns:th="http://www.thumeleaf.org" th:replace="homebase::layout(~{::div.deep})">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="deep">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-10 text-left">
              <h2>Full Stack Developer Course - <br>Pay After Placement Program in<br> Software Development</h2>
              <p>Transform your career risk-free! Enroll in our Full Stack Development program, pay only after securing a placement. Unlock your potential and launch a successful tech career with confidence. Enroll now</p>
            </div>
            <div class="col-lg-2">
              <a th:href="@{/admission-form}" class="btn  applynowbtn">Apply now</a>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="/">Home</a></li>
            <li>Full Stack Developer Course</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <section class="sample-page">


      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>In brief</h2>
            <p>Seize the opportunity to become a tech maestro! Enroll now in our Full Stack Development course, designed for aspiring coders and tech enthusiasts ready to conquer the digital landscape. Immerse yourself in a comprehensive program that covers the entire spectrum of web development, from front-end design to back-end functionality. Join a dynamic community of learners and industry experts passionate about coding excellence. Our course is your gateway to mastering the skills demanded by the tech industry. Don't just follow trends; set them! Secure your spot today and embark on a transformative journey of coding mastery. With hands-on projects and real-world applications, this course is your launchpad to a dynamic career in full stack development. Enroll now, and code your way to a future of limitless possibilities!</p>
          </div>

          </div>
          </section>

          <section class="heighlight">
            <div class="container">
              <div class="section-header">
                <h2>Full Stack Developer Heighlights</h2>
              </div>
            <div class="row d-flex justify-content-between">
              <div class="col-lg-6 heigh">
                <span class="icon"><i class="bi bi-easel"></i></span>
                <span class="heigh-title">Recorded + Live Lectures</span>
              </div>
              <div class="col-lg-6 heigh ">
                <span class="icon"><i class="bi bi-easel"></i></span>
                <span class="heigh-title">World Class Faculty Members & Industry Experts</span>
              </div>
              <div class="col-lg-6 heigh ">
                <span class="icon"><i class="bi bi-easel"></i></span>
                <span class="heigh-title">10+ Case Studies and Projects</span>
              </div>
              <div class="col-lg-6 heigh ">
                <span class="icon"><i class="bi bi-easel"></i></span>
                <span class="heigh-title">15+ Programming Tools & Languagese</span>
              </div>
              <div class="col-lg-6 heigh ">
                <span class="icon"><i class="bi bi-easel"></i></span>
                <span class="heigh-title">Gain access to exclusive masterclasses on GenAI and turn into a 10X developer</span>
              </div>
              <!-- <div class="col-lg-6 heigh ">
                <span class="icon"><i class="bi bi-easel"></i></span>
                <span class="heigh-title">IIIT Bangalore Alumni Status</span>
              </div> -->
              <div class="col-lg-6 heigh ">
                <span class="icon"><i class="bi bi-easel"></i></span>
                <span class="heigh-title">No Cost EMI Option</span>
              </div>
              <div class="col-lg-6 heigh ">
                <span class="icon"><i class="bi bi-easel"></i></span>
                <span class="heigh-title">Interview Preparation</span>
              </div>
              <div class="col-lg-6 heigh ">
                <span class="icon"><i class="bi bi-easel"></i></span>
                <span class="heigh-title">Exclusive Job opportunities Portal</span>
              </div>
              <div class="col-lg-6 heigh ">
                <span class="icon"><i class="bi bi-easel"></i></span>
                <span class="heigh-title">High Performance Coaching(1:1)</span>
              </div>
              <div class="col-lg-6 heigh ">
                <span class="icon"><i class="bi bi-easel"></i></span>
                <span class="heigh-title">AI Powered Profile Builder</span>
              </div>
              <div class="col-lg-6 heigh ">
                <span class="icon"><i class="bi bi-easel"></i></span>
                <span class="heigh-title">Just-in-time Interviews</span>
              </div>
              <div class="col-lg-6 heigh ">
                <span class="icon"><i class="bi bi-easel"></i></span>
                <span class="heigh-title">Personalized Industry Sessions in small groups</span>
              </div>
              <div class="col-lg-6 heigh ">
                <span class="icon"><i class="bi bi-easel"></i></span>
                <span class="heigh-title">Career mentorship Sessions (1:1) with industry experts</span>
              </div>
              <div class="col-lg-6 heigh ">
                <span class="icon"><i class="bi bi-easel"></i></span>
                <span class="heigh-title">Software Career Transition Bootcamp for non-tech & new coders (new)</span>
              </div>
              <!-- <div class="col-lg-6 heigh ">
                <span class="icon"><i class="bi bi-easel"></i></span>
                <span class="heigh-title">Get access to Executive Certification in Data Science & Machine Learning, for free.</span>
              </div> -->
              <div class="col-lg-6 heigh ">
                <span class="icon"><i class="bi bi-easel"></i></span>
                <span class="heigh-title">E-portfolio- Showcase your expertise and skills to potential employers using an e-portfolio.</span>
              </div>
            </div>
          </div>
          </section>
      
    </section>


</div>
</body>
</html>