<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
	<head>
	  <meta charset="utf-8">
	  <meta content="width=device-width, initial-scale=1.0" name="viewport">
	
	  <title th:text="${title}">FSDSAcademy full stack development  and design & digital course in india</title>
	  <meta content="India most recommended full stack & data science learning platfrom" name="description">
	  <meta content="full stack developer,web development,coding,python programming,python, front end developer,html code, full stack,python class,learn python,website development,java programming,python code,python course,programiz python,python basics,coding for beginners,c program,python for beginners,google summer of code, web development company,data structures in python,DBMS,java, JDBC, Springboot,hibernate, database, data structure,technical skills,spring framework,bootstrap,mongoDB,mySQL, CSS, JSP(java server page), coding classes,Figma,UI/UX, User Experience, technical classes, javaScript Vanilla,JavaScript ES6,Java Advance,
	  Core Java, Full stack basics to advance,User Interface," name="keywords">
	
	  <!-- Favicons -->
	  <link th:href="@{/img/favicon2.png}" rel="icon">
	  <link th:href="@{/img/favi-touch.png}" rel="apple-touch-icon">
	
	  <!-- Google Fonts -->
	  <link rel="preconnect" href="https://fonts.googleapis.com">
	  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
	
	  <!-- Vendor CSS Files -->
	  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	  <link  th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	  <link  th:href="@{/vendor/aos/aos.css}" rel="stylesheet">
	  <link  th:href="@{/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
	  <link  th:href="@{/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">
	
	  <!-- Template Main CSS File -->
	  <link  th:href="@{/css/main.css}" rel="stylesheet">
	
	  <!-- =======================================================
	  * Template Name: Impact
	  * Updated: Sep 18 2023 with Bootstrap v5.3.2
	  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
	  * Author: BootstrapMade.com
	  * License: https://bootstrapmade.com/license/
	  ======================================================== -->
	</head>
<body>
	  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">info@fsdsacademy.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+91 7290002907</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100094764056017&mibextid=ZbWKwL" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://instagram.com/fsdsacademy?igshid=OGQ5ZDc2ODk2ZA==" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->
  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a th:href="@{/}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
         <img src="/img/logo.png" alt=""> 
        <!-- <h1>Impact<span>.</span></h1> -->
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a th:href="@{/}">Home</a></li>
          <!-- <li><a href="#admission">Admission</a></li> -->
          <li class="dropdown"><a href="#"><span>Courses</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a th:href="@{full-stack}">Full Stack</a></li>
              <li><a th:href="@{design-&-digital}">Design & Digital</a></li>
            </ul>
          </li>
          <!-- <li><a href="#portfolio">Placement</a></li> -->
          <li><a th:href="@{#faq}">Faq</a></li>
          <li><a th:href="@{blog.html}">Blog</a></li>
          <li><a th:href="@{#contact}">Get In Touch</a></li>
          <li><a th:href="@{/}" th:if="${session.sid}==''">Login</a>
          <a th:href="@{/logout}" th:unless="${session.sid}==''">Logout</a>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  
 <main id="main">
	 <div th:replace="${content}"></div>
 </main>
 
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>FSDS Academy</span>
          </a>
          <p>At FSDS Academy, our passion lies in harnessing the transformative power of education to unlock the full potential of individuals. Recognizing the limitations of traditional learning approaches in our fast-paced world, we aim to revolutionize education using technology as our tool for change.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" target="_blank"  class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100094764056017&mibextid=ZbWKwL" target="_blank"  class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://instagram.com/fsdsacademy?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"  class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"  class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            A-27L, A block,<br> 
            sector 16, Noida (201301)<br>
            U.P., India<br><br>
            <strong>Phone:</strong> +91 7290002907<br>
            <strong>Email:</strong> info@fsdsacademy.com<br>
          </p>

        </div>

      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/vendor/aos/aos.js}"></script>
  <script th:src="@{/vendor/glightbox/js/glightbox.min.js}"></script>
  <script th:src="@{/vendor/purecounter/purecounter_vanilla.js}"></script>
  <script th:src="@{/vendor/swiper/swiper-bundle.min.js}"></script>
  <script th:src="@{/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
  <script th:src="@{/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/js/main.js}"></script>
</body>
</html>